<!-- Activity or Accomodation -->
{% if scope == 'all' %}
  <h2 class="">{% translate 'type'|capfirst %}</h2>
  <ul>
    <li>
      <a href="{% url 'locations:accommodations' %}{% copy_query_params request %}">
        {% translate 'accommodations'|capfirst %}
      </a>
    </li>
    <li>
      <a href="{% url 'locations:activities' %}{% copy_query_params request %}">
        {% translate 'activities'|capfirst %}
      </a>
    </li>
  </ul>
{% endif %}

<!-- Visited status -->
{% if request.user.is_authenticated %}
  <h2 class="">{% translate 'visited'|capfirst %}</h2>
  <ul>
    <li>
      <a href="{{ request.path }}{% update_query_params request replace='true' to='is_visited' %}"
         {% if request.GET.is_visited == 'true' %}class="active"{% endif %}>
        {% translate 'been there'|capfirst %}
      </a>
    </li>
    <li>
      <a href="{{ request.path }}{% update_query_params request replace='false' to='is_visited' %}"
         {% if request.GET.is_visited == 'false' %}class="active"{% endif %}>
        {% translate 'not yet'|capfirst %}
      </a>
    </li>
  </ul>
{% endif %}

<!-- Favorite status -->
{% if request.user.is_authenticated %}
  <h2 class="">{% translate 'favorites'|capfirst %}</h2>
  <ul>
    <li>
      <a href="{{ request.path }}{% update_query_params request replace='true' to='is_favorite' %}"
         {% if request.GET.is_favorite == 'true' %}class="active"{% endif %}>
        {% translate 'loved'|capfirst %}
      </a>
    </li>
    <li>
      <a href="{{ request.path }}{% update_query_params request replace='false' to='is_favorite' %}"
         {% if request.GET.is_favorite == 'false' %}class="active"{% endif %}>
        {% translate 'not yet loved'|capfirst %}
      </a>
    </li>
  </ul>
{% endif %}

<!-- Region filter -->
{% if region_filter_options|length > 0 %}
  <h2 class="">{% translate region_filter_options.label|default:'region'|capfirst %}</h2>
  <ul>
    {% for option in region_filter_options.options %}
      <li>
        <a href="{{ request.path }}{% update_query_params request add=option.slug to=region_filter_options.key %}">
          {% translate option.name|capfirst %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if category_filter_options|length > 0 %}
  <h2 class="">{% translate category_filter_options.label|default:'category'|capfirst %}</h2>
  <form method="GET" action="{{ request.path }}">
    {% for key, values in request.GET.lists %}{% if key != 'categories__slug' %}{% for value in values %}
      <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}{% endif %}{% endfor %}
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="{% translate 'select a category'|capfirst %}"
        data-autosuggest
        data-url="{% url 'cmnsd:dispatch' 'categories' %}{% copy_query_params request prepend='locations__' %}"
        data-param="{{ search_query_character|default:'q'}}"
        data-extra-params='{"format":"json"}'
        data-field-input="name"
        data-field-hidden="slug"
        data-field-prefix="categories__"
        data-container="category"
        data-allow-create="0"
        data-min="0"
      >
      <button type="submit" class="btn btn-outline-secondary" title="{% translate 'filter'|capfirst %}">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
{% endif %}

{% if tag_filter_options|length > 0 %}
  <h2 class="">{% translate tag_filter_options.label|default:'tag'|capfirst %}</h2>
  <form method="GET" action="{{ request.path }}">
    {% for key, values in request.GET.lists %}{% if key != 'tags__slug' %}{% for value in values %}
      <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}{% endif %}{% endfor %}
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="{% translate 'select a tag'|capfirst %}"
        data-autosuggest
        data-url="{% url 'cmnsd:dispatch' 'tags' %}{% copy_query_params request prepend='locations__' %}"
        data-param="{{ search_query_character|default:'q'}}"
        data-extra-params='{"format":"json"}'
        data-field-input="name"
        data-field-hidden="slug"
        data-field-prefix="tags__"
        data-container="tag"
        data-allow-create="0"
        data-min="0"
      >
      <button type="submit" class="btn btn-outline-secondary" title="{% translate 'filter'|capfirst %}">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
{% endif %}

{% if user.is_staff %}
  <h2 class="">{% translate 'all statuses'|capfirst %}</h2>
  <ul>
    <li>
      <a href="{{ request.path }}{% update_query_params request replace='true' to='all_status' %}"
         {% if request.GET.all_status == 'true' %}class="active"{% endif %}>
        {% translate 'show all statuses'|capfirst %}
      </a>
    </li>
  </ul>
{% endif %}
