[run]
omit =
    manage.py
    */asgi.py
    */wsgi.py
    */migrations/*
    */tests/*
    */management/commands/*
    cmpng/urls.py
    cmpng/settings.py
    .venv/*
    cmnsd/*

[report]
show_missing = True
skip_covered = False