<div class="topactions">
  <!-- Authenticated User function -->
  {% if user.is_authenticated %}
    <!-- Edit -->
    {% include 'element/location/topaction_edit_all.html' %}
    <!-- Manage Media -->
    {% include 'element/location/topaction_manage_media.html' %}
    <!-- Distance to home -->
    {% include 'element/location/topaction_distance_to_home.html' %}
  {% endif %}

  <!-- Public functions -->
    <!-- Love -->
    {% include 'element/location/topactions_favorite.html' %}
    <!-- Visited and Visitors-->
    {% include 'field/location/visits.html' %}
    <!-- Lists -->
    {% include 'element/location/topaction_filtered_lists.html' %}

  <!-- Staff User functions -->
  {% if user.is_staff %}
  <span class="topactions__break"></span>
    {% if perms.locations.change_location %}
      <!-- Re-enrich: refresh all automatically detected geo data -->
      <form method="post" action="{% url 'locations:reenrich_location' location.slug %}" style="display:inline">
        {% csrf_token %}
        <button
          class="btn btn--ghost"
          type="submit"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-title="{% translate 'refresh automatically detected data of'|capfirst %} {% translate location.type %}"
          onclick="this.disabled=true; this.closest('form').submit()"
        ><i class="bi bi-arrow-clockwise"></i></button>
      </form>
      <!-- Revoke location -->
      {% include 'element/location/topaction_revoke.html' %}
    {% endif %}
    <!-- Admin view -->
    {% include 'element/location/topactions_admin_view.html' %}
  {% endif %}
</div>