<!-- Header -->
<header class="header">
  {% if ajax.editable and perms.locations.change_location %}
    <form
      data-action
      data-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'name' %}"
      data-body="form"
      data-refresh-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'name' %}"
      data-refresh-map='{"name":"#name"}'
    >
      <div class="input-group">
        <span class="input-group-text">{% if location.is_accommodation %}<i class="bi bi-house-door"></i>{% elif location.is_activity %}<i class="bi bi-compass"></i>{% endif %}</span>
        <input type="text" name="name" class="form-control form-control--ghost" value="{{ location.name }}" placeholder="{% translate 'name of'|capfirst %} {{ location.type }}">
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-check-lg"></i></button>
      </div>
    </form>
  {% else %}
    <h1 class="title">{% if location.is_accommodation %}<i class="bi bi-house-door"></i>{% elif location.is_activity %}<i class="bi bi-compass"></i>{% endif %} {{ location.name|title }}</h1>
  {% endif %}
  {% comment %} <div class="meta">
    <span>Camping</span>
    <span class="meta__dot">•</span>
    <span>Indre</span>
    <span class="meta__dot">•</span>
    <span>Centre-Val de Loire</span>
    <span class="meta__dot">•</span>
    <span>Private</span>
  </div> {% endcomment %}
  {% if user.is_authenticated %}
    <div class="byline">
      {% translate 'added by'|capfirst%} {{ location.user.get_full_name|default:location.user.username }}.
    </div>
  {% endif %}
</header>