{% with visitors=location.visitors.all %}
  {% if scope == 'location' or visitors %}
    <i
      class="bi bi-person-raised-hand cmpng-icons {% if not visitors %}cmpng-icons-inactive{% elif user in visitors %}cmpng-icons-active{% endif %}"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-title="{% if user in visitors %}{% translate 'you have visited this place'|capfirst %}{% elif visitors %}{% translate 'someone has visited this place'|capfirst %}{% else %}{% translate 'no one has visited this place yet'|capfirst %}{% endif %}"></i>
  {% endif %}
{% endwith %}
